.nuevo-prestamo-container {
  min-height: 100vh;
  padding: 40px;
  font-family: Arial, sans-serif;
}

.titulo {
  text-align: left;
  margin-bottom: 20px;
  color: #19115a;
  font-size: 34px;
}

.descripcion {
  font-size: 16px;
  padding-bottom: 20px;
}

.formulario {
  max-width: 400px;
  margin: 0 auto;
  background-color: #9dc3eb;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(58, 63, 65, 0.2);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.label {
  color: black;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.input {
  padding: 10px;
  border-radius: 17px;
  border: 1px solid #fff;
  background-color: white;
  color: black;
  outline: none;
  font-style: italic;
}

.error {
  color: #ca1212;
  font-size: 16px;
}

.boton {
  background-color: #0d3046;
  border: none;
  text-transform: uppercase;
  padding: 12px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  margin-top: 10px;
}
