.stock-container {
  width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #e6f0fa;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}

.stock-container h2 {
  color: #0d3046;
  text-align: center;
  margin-bottom: 20px;
}

.categoria {
  margin-bottom: 30px;
}

.categoria h3 {
  color: #0d3046;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;

  margin-bottom: 10px;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #0d3046;
  color: white;
}

.form-agregar {
  display: flex;
  border-radius: 10px;
  gap: 10px;
  margin-top: 5px;
}

.form-agregar input {
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #999;
  flex: 1;
}

.form-agregar button {
  background-color: #0d3046;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}
