body {
  background-color: rgb(216, 236, 255);
  color: rgb(10, 10, 78);
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.Navbar {
  background-color: rgb(6, 6, 58);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.links {
  display: flex;
  padding: 10px;
  gap: 20px;
}

.contenedor {
  margin: 0 auto;
  justify-content: center ;
  align-items: center;
  text-align: center;
  margin-top: 70px;
}

.botones {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.boton {
  padding: 12px 20px;
  background-color: rgb(8, 8, 68);
  color: white;
  border-radius: 8px;
  text-decoration: none;
}